@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/functions';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  background: $bg;
  background-attachment: fixed;
  color: $light-primary;
  font-family: $text-font;
  font-size: $text-mobile;
  text-align: center;
  text-rendering: optimizeLegibility;
  @include tablet {
    font-size: $text-tablet;
    text-align: left;
  }
}

html,
body {
  @include tablet {
    overflow-x: hidden;
  }
}

h1,
h2 {
  font-family: $header-font;
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
}

.svg__defs {
  height: 0;
  position: absolute;
  width: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 120px 25px;

  @include tablet {
    overflow-x: visible;
    padding: 150px 90px 120px;
  }

  @include laptop {
    margin: 0 auto;
    max-width: 780px;
    padding: 190px 0 120px;
  }

  @include desktop {
    max-width: 870px;
  }

  &--short {
    min-height: 0;

    @include tablet {
      min-height: 100vh;
    }
  }
}

.row__wrap {
  margin: auto;
  position: relative;

  @include tablet {
    width: 100%;
  }

  @include laptop {
    display: flex;
  }
}

.row__header {
  font-size: 2.5rem;
  line-height: 2rem;
  margin-bottom: 40px;

  &--nomobile {
    @include mobile-only {
      display: none;
    }
  }
}

.row__subheader {
  color: $light-tertiary;
  font-size: 1.5rem;
  line-height: 3rem;
}

.row__text {
  letter-spacing: 1px;
  line-height: 2em;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include laptop {
    margin-left: 90px;
    max-width: 380px;
  }

  @include desktop {
    margin-left: 120px;
    max-width: 420px;
  }
}

.row__orb {
  border-radius: 50%;
  box-shadow: $shadow-black;
  position: absolute;
  z-index: 9999;

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
    width: 100%;
  }

  &--nomobile {
    @include mobile-only {
      display: none;
    }
  }
}

@each $orb in $orbs {
  .row__orb--#{nth($orb, 1)} {
    background: nth($orb, 2);
  }
}

.row__bg {
  position: absolute;
  z-index: -1;
}

.page {
  transition: opacity .3s;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.row__anchor {
  display: inline-block;
  position: relative;

  &::after {
    background-color: $light-primary;
    border-radius: 2px;
    bottom: 9px;
    content: '';
    display: block;
    height: 2px;
    left: -2px;
    position: absolute;
    transition: .2s;
    width: calc(100% + 4px);
    z-index: 0;
  }

  &:hover {
    &::after {
      bottom: calc(50% - 4px);
    }
  }
}

// **********************
// NAVIGATION
// **********************

.nav {
  height: 104px;
  padding: 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  @include tablet {
    height: 128px;
    padding: 0 34px;
  }

  @include laptop {
    padding: 0 42px;
  }

  &--open {
    .nav__links {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.nav__wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1050px;
  position: relative;
}

.nav__logo-wrap {
  align-items: center;
  display: flex;
}

.nav__logo {
  cursor: pointer;
  width: 55px;

  .nav__k {
    transition: .2s;
  }

  &:hover {
    .nav__k {
      fill-opacity: 1;
    }
  }
}

.nav__name {
  display: none;

  @include laptop {
    color: $light-secondary;
    display: initial;
    font-family: $header-font;
    font-size: 1rem;
    letter-spacing: .125rem;
    margin-left: 32px;
  }
}

.nav__btn {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .25rem;
  text-transform: uppercase;

  @include tablet {
    display: none;
  }
}

.nav__links {
  @include mobile-only {
    display: flex;
    flex-wrap: wrap;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 140px;
    width: 100%;
  }

  list-style: none;
  padding-left: 0;
  transition: .3s;
}

.nav__link {
  color: $light-secondary;
  float: left;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .25rem;
  margin: 0 0 40px;
  text-transform: uppercase;
  transition: .2s;
  width: 100%;

  @include tablet {
    margin-bottom: 0;
    width: auto;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &:hover {
    color: $light-primary;
  }
}

.nav__go-top {
  bottom: 48px;
  position: fixed;
  right: 48px;
  width: 32px;

  path {
    &:nth-child(2) {
      opacity: 0;
      transition: .2s;
    }
  }

  &:hover {
    path {
      &:nth-child(2) {
        opacity: 1;
      }
    }
  }
}

// **********************
// HERO
// **********************

.hero {
  padding-bottom: 248px;

  @include tablet {
    padding: 120px 40px;
  }

  @include laptop {
    padding: 120px 0;
  }
}

.hero__wrap {
  line-height: 3rem;

  @include tablet {
    line-height: 4rem;
    max-width: 740px;
    text-align: center;
  }
}

.hero__header {
  font-size: 2em;
  margin-bottom: 16px;
}

.hero__subheader {
  color: $light-secondary;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .125rem;
  @include tablet {
    font-size: 2rem;
  }
}

.hero__orb {
  &--light {
    bottom: calc(-89px - 88px);
    left: 104px;
    width: 89px;

    @include tablet {
      bottom: calc(-89px - 96px);
      left: 9px;
    }

    @include laptop {
      bottom: calc(-97px - 176px);
      left: -40px;
      width: 97px;
    }

    @include desktop {
      left: -210px;
    }
  }

  &--green {
    bottom: calc(-150px - 58px);
    left: 0;
    width: 150px;

    @include tablet {
      bottom: calc(-150px - 112px);
      left: -95px;
    }

    @include laptop {
      bottom: calc(-321px - 176px);
      left: -300px;
      width: 321px;
    }

    @include desktop {
      left: -470px;
    }
  }

  &--lightblue {
    bottom: calc(-64px - 40px);
    right: 0;
    width: 64px;

    @include tablet {
      left: 162px;
      right: auto;
    }

    @include laptop {
      bottom: calc(-64px - 96px);
      left: 110px;
    }

    @include desktop {
      left: -55px;
    }
  }

  &--light-two {
    @include mobile-only {
      display: none;
    }

    right: -75px;
    top: calc(-136px - 56px);
    width: 136px;

    @include laptop {
      right: -195px;
      top: calc(-192px - 64px);
      width: 192px;
    }

    @include desktop {
      right: -325px;
    }
  }

  &--yellow {
    @include mobile-only {
      display: none;
    }

    right: 13px;
    top: calc(-86px - 40px);
    width: 86px;

    @include laptop {
      right: -60px;
      top: calc(-96px - 48px);
      width: 96px;
    }

    @include desktop {
      right: -200px;
    }
  }
}

.hero__bg {
  @include mobile-only {
    display: none;
  }
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 453px;
}

// **********************
// ABOUT
// **********************

.about {
  padding-bottom: 310px;
  padding-top: 80px;

  @include tablet {
    padding: 150px 90px 390px;
  }

  @include laptop {
    padding: 290px 0 240px;
  }

  @include desktop {
    padding: 150px 0;
  }
}

.about__orb {
  &--aqua {
    right: 0;
    top: -80px;
    width: 80px;

    @include tablet {
      right: 2px;
      top: -32px;
    }

    @include laptop {
      right: -73px;
      top: -133px;
    }

    @include desktop {
      right: -83px;
    }
  }

  &--light {
    display: none;

    @include laptop {
      display: unset;
      right: -30px;
      top: -80px;
      width: 112px;
    }

    @include desktop {
      right: -40px;
    }
  }

  &--face {
    bottom: calc(-130px - 48px);
    left: 0;
    width: 130px;

    @include tablet {
      bottom: calc(-192px - 40px);
      width: 192px;
    }

    @include laptop {
      bottom: 16px;
      left: 0;
    }

    @include desktop {
      bottom: -24px;
    }
  }

  &--pink {
    @include mobile-only {
      display: none;
    }

    bottom: calc(-96px - 184px);
    left: 130px;
    width: 96px;

    @include laptop {
      bottom: -32px;
      left: 128px;
    }

    @include desktop {
      bottom: -52px;
    }
  }
}

.about__bg {
  width: 200px;

  &--one {
    right: 0;
    top: -80px;

    @include tablet {
      right: -58px;
      top: 16px;
      width: 280px;

      path {
        @include tablet {
          stroke-width: 2.5;
        }
      }
    }

    @include laptop {
      right: -140px;
      top: -80px;
    }
  }

  &--two {
    bottom: calc(-48px - 219px);
    right: 0;

    @include tablet {
      bottom: calc(-40px - 350px);
      right: 167px;
      width: 320px;

      path {
        @include tablet {
          stroke-width: 2;
        }
      }
    }

    @include laptop {
      bottom: -50px;
      left: 95px;
      right: auto;
    }
  }
}

// **********************
// SKILLS
// **********************

.skills__header {
  @include tablet {
    margin-bottom: 0;
  }
}

.skills__orbs {
  height: 890px;
  position: relative;
  width: calc(100vw - 50px);
  @include tablet {
    height: 680px;
    left: -90px;
    top: -80px;
    width: 100vw;
  }
  @include laptop {
    height: 860px;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.skills__svg {
  overflow: visible;
  position: relative;

  &--mobile {
    @include tablet {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @include tablet {
      display: unset;
    }
    @include laptop {
      display: none;
    }
  }

  &--large {
    display: none;

    @include laptop {
      display: unset;
    }
  }
}

.skills__bg {
  @include mobile-only {
    display: none;
  }

  &--one {
    left: -145px;
    top: 238px;
    width: 336px;

    @include laptop {
      left: -2px;
      top: 286px;
    }

    path {
      stroke-width: 2;
    }
  }

  &--two {
    right: -145px;
    top: 142px;
    width: 280px;

    @include laptop {
      right: -85px;
      top: 190px;
    }

    path {
      stroke-width: 3;
    }
  }

  &--three {
    left: 143px;
    top: 78px;
    width: 240px;

    @include laptop {
      left: 287px;
      top: 126px;
    }
  }

  &--four {
    left: 255px;
    top: 446px;
    width: 240px;

    @include laptop {
      left: 390px;
      top: 494px;
    }
  }
}

// **********************
// WORKS
// **********************

.works {
  padding-bottom: 80px;

  @include laptop {
    padding-bottom: 120px;
    padding-right: 0;
  }

  @include desktop {
    padding-bottom: 160px;
    padding-top: 190px;
  }
}

.works__header {
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include laptop {
    margin-top: 168px;
  }

  @include desktop {
    margin-top: 163px;
  }
}

.works__works {
  max-width: 350px;
  position: relative;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  @include tablet {
    margin: auto;
    max-width: 583px;
  }

  @include laptop {
    margin-left: -60px;
    margin-right: -83px;
    max-width: 780px;
  }

  @include desktop {
    max-width: none;
  }
}

.works__work {
  float: right;
  height: 72vw;
  max-height: 290px;
  max-width: 260px;
  overflow: visible;
  width: 64vw;

  &:nth-child(2n + 1) {
    float: left;
  }

  &:not(:first-child) {
    margin-top: -6%;
  }

  @include tablet {
    float: left;
    max-height: 256px;
    max-width: 231px;

    &:nth-child(4n + 1) {
      margin-left: 118px;
    }

    &:nth-child(2n + 1) {
      margin-right: 3px;
    }

    &:not(:first-child) {
      margin-top: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: -54px;
    }

    path {
      stroke-width: 14;
    }
  }

  @include laptop {
    max-height: 333px;
    max-width: 300px;

    &:nth-child(4n + 1) {
      margin-left: 160px;
    }

    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
  }

  @include desktop {
    max-height: 366px;
    max-width: 330px;

    &:nth-child(4n + 1) {
      margin-left: 180px;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
}

.works__orb {
  &--aqua {
    left: 77px;
    top: 19px;
    width: 80px;

    @include laptop {
      left: 159px;
      top: 48px;
    }

    @include desktop {
      left: 149px;
    }
  }

  &--orange {
    right: 51px;
    top: 200px;
    width: 120px;

    @include laptop {
      right: 48px;
      top: 269px;
      width: 160px;
    }

    @include desktop {
      right: 65px;
      top: 336px;
    }
  }

  &--green {
    bottom: 131px;
    left: 70px;
    width: 98px;

    @include laptop {
      bottom: 209px;
      left: 74px;
      width: 120px;
    }

    @include desktop {
      bottom: 234px;
      left: 85px;
    }
  }
}

.works__bg {
  display: none;

  @include laptop {
    display: unset;
  }

  &--one {
    left: -5px;
    top: 423px;
    width: 168px;
  }

  &--two {
    right: -82px;
    top: 421px;
    width: 336px;

    path {
      stroke-width: 2;
    }
  }

  &--three {
    left: 153px;
    top: 155px;
    width: 240px;
  }

  &--four {
    bottom: -82px;
    left: 111px;
    width: 240px;
  }
}

// **********************
// CONTACT
// **********************

.contact {
  padding: 0;

  @include tablet {
    padding: 120px 90px;
  }

  @include laptop {
    padding: 190px 0 125px;
  }
}

.contact__wrap {
  width: 100%;
}

.contact__header {
  margin-bottom: 80px;

  @include laptop {
    margin-top: 80px;
  }
}

.contact__form {
  background: $light;
  height: 100%;
  padding: 20px 20px 40px;
  width: 100%;

  @include tablet {
    border-radius: 50px;
    box-shadow: $shadow-black;
    margin: 0 60px;
    padding: 80px 65px 40px;
    width: auto;
  }

  @include laptop {
    margin-right: 0;
    max-width: 480px;
  }

  @include desktop {
    margin-left: 90px;
    max-width: 540px;
  }
}

.contact__input {
  background: none;
  border: 0;
  border-bottom: 1px solid $dark-tertiary;
  color: $dark-primary;
  font-family: $text-font;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 2rem;
  outline-color: $dark-secondary;
  padding: 16px 0;
  resize: vertical;
  width: 100%;

  &::placeholder {
    color: $dark-secondary;
  }

  &--textarea {
    height: 80px;
  }
}

.contact__btn {
  align-items: center;
  background: $dark-blue;
  border: 0;
  border-radius: 50%;
  box-shadow: $shadow-blue;
  display: flex;
  height: 56px;
  justify-content: center;
  margin: 16px auto 83px;
  width: 56px;

  @include tablet {
    margin-right: 0;
  }
}

.contact__social {
  text-align: center;
}

.contact__icon {
  &:not(:last-child) {
    margin-right: 24px;
  }

  path {
    transition: .2s;
  }

  &:hover {
    path {
      fill-opacity: 1;
    }
  }
}

.contact__orb {
  &--yellow {
    bottom: -70px;
    left: calc(-120px - 20px);
    width: 120px;

    @include laptop {
      bottom: -40px;
      left: 13px;
    }

    @include desktop {
      left: 77px;
    }
  }

  &--light {
    bottom: -89px;
    right: 0;
    width: 120px;

    @include laptop {
      right: 20px;
    }
  }

  &--pink {
    bottom: calc(-80px - 40px);
    right: 80px;
    width: 80px;

    @include laptop {
      right: 100px;
    }
  }
}

.contact__bg {
  display: none;

  @include laptop {
    display: unset;
  }

  &--one {
    left: 64px;
    top: 324px;
    width: 336px;

    path {
      stroke-width: 2;
    }
  }

  &--two {
    left: 77px;
    top: 30px;
    width: 160px;
  }

  &--three {
    left: 672px;
    top: 134px;
    width: 240px;
  }
}

// **********************
// FOOTER
// **********************

.footer {
  @include mobile-only {
    display: none;
  }

  display: flex;
  padding-bottom: 80px;
}

.footer__logo-wrap {
  display: flex;
  height: 186px;
  margin: auto;
  position: relative;
  width: 168px;
}

.footer__logo {
  margin: auto;
}

.footer__bg {
  @include mobile-only {
    display: none;
  }

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 168px;
}
