@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/functions';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  background: $bg;
  color: $light-primary;
  font-family: $text-font;
  font-size: $text-mobile;
  text-align: center;
  text-rendering: optimizeLegibility;
}

h1,
h2 {
  font-family: $header-font;
  font-weight: 900;
}

.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 120px 25px;

  &--short {
    min-height: 0;
  }
}

.row__wrap {
  margin: auto;
}

.row__header {
  font-size: 2.5rem;
  line-height: 2rem;
  margin-bottom: 40px;
}

.row__subheader {
  color: $light-tertiary;
  font-size: 1.5rem;
  line-height: 3rem;
}

.row__text {
  letter-spacing: 1px;
  line-height: 2rem;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

// **********************
// NAVIGATION
// **********************

.nav {
  align-items: center;
  display: flex;
  height: 104px;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.nav__logo {
  width: 55px;
}

.nav__btn {
  font-weight: bold;
  letter-spacing: .25rem;
  text-transform: uppercase;
}

// **********************
// HERO
// **********************

.hero__header-wrap {
  line-height: 3rem;
  margin: auto;
}

.hero__header {
  font-size: 2rem;
  margin-bottom: 16px;
}

.hero__subheader {
  color: $light-secondary;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .125rem;
}

// **********************
// ABOUT
// **********************

// **********************
// SKILLS
// **********************

// **********************
// WORKS
// **********************

.works {
  padding-bottom: 80px;
}

.works__header {
  margin-bottom: 60px;
}

.works__works {
  max-width: 350px;
}

.works__work {
  float: right;
  width: 64vw;
  height: 72vw;
  max-width: 260px;
  max-height: 290px;

  &:nth-child(2n + 1) {
    float: left;
  }

  &:not(:first-child) {
    margin-top: -6%;
  }
}

// **********************
// CONTACT
// **********************

.contact {
  padding: 0;
}

.contact__form {
  background: $light;
  height: 100%;
  padding: 20px 20px 40px;
  width: 100%;
}

.contact__input {
  background: none;
  border: 0;
  border-bottom: 1px solid $dark-tertiary;
  color: $dark-primary;
  font-family: $text-font;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 2rem;
  outline-color: $dark-secondary;
  padding: 16px 0;
  resize: vertical;
  width: 100%;

  &::placeholder {
    color: $dark-secondary;
  }
}

.contact__btn {
  align-items: center;
  background: $dark-blue;
  border: 0;
  border-radius: 50%;
  box-shadow: $shadow-blue;
  display: flex;
  height: 56px;
  justify-content: center;
  margin: 16px auto 83px;
  width: 56px;
}

.contact__icon {
  &:not(:last-child) {
    margin-right: 24px;
  }
}
